@charset "utf-8";
/* CSS Document */

html {
	margin: 0;
	padding:0;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	

}

body {
	margin:0 auto;
	width: 80%;
	background-color:#BDCCD4;
	/*background-color:#999;*/
}
header {
	background: url(../images/logoyellow.png) #F6F8F7 1em no-repeat;
	
	/*#FC3*/
	margin:0;
	padding:0;
	height: 10em;
}


h1 {
	/*background-color:#333;
	color:#FC0;*/
}

.apptitle {
	float:left;
}

form {
	/*clear: both;*/
	text-align:right;
	padding-top: 6em;
	padding-right: 1em;
	
}

.pay-rating-detail{
	background-color:#F6F8F7;
	border-bottom:4px solid #F6F8F7;
	padding-top: 1em;
	padding-bottom:0.5em;
}

.locationdetail {
	width:100%;
	margin:0;
	padding:0;
}

/*.time-detail {
    background-color: #99CC99;
    margin-left: 42%;
    width: 32%;
	float: left;
	*//*border-bottom: 5px solid #F7931E;*/
	
/*}*/

.time-detail {
    /*background-color: #99CC99;*/
    float: left;
    margin-left: 36.7%;
	padding-top:1em;
    width: 34%;
	border-bottom: 5px solid #F7931E;
}
.am {
	text-align: left;
	width:6em;
	/*background-color:#0CC;*/
}

.available {
	/*background-color: #CC6699;*/
    color: #FF9900;
    margin-left: 30%;
}

.pm {
    /*background-color: #993399;*/
    margin-left: 46%;
    
}

.paytitle {
    margin-left: 5%;
	color:#8CC63F;
}
.averagerating {
	margin-left: 3%;
	color:#F7931E;
}
.yourrating {
	padding-left: 3em;
	color:#FC6;
}

.category {
	margin: 0;
	/*padding: 0.1px;*/
	background-color: #E6E6E6;
	/*#FF00FF;*/
	line-height: 2.5em;
	font-size: 130%;	
	border-top: 1px solid #ffffff;
	/*padding-left: 1em;*/
}

.allcategories {
	list-style-type:none;
	/*text-decoration:none;*/
	/*added erika */
	margin:0;
	padding:0;
}

.icon {
	top: -10px;
	padding: 0;
	position:absolute;
	left: 0;
}
.galleries {
	margin-bottom:1em;
	position: relative;
	padding-left: 3em;
	
}

.galleries:link,
.galleries:visited,
.museums:link,
.museums:visited,
.festivals:link,
.festivals:visited,
.entertainment:link,
.entertainment:visited,
sites:link,
sites:visited,
leisure:link,
leisure:visited {
	color: #333;
	/*line-height:1em;*/
	
}

.galleries:hover,
.galleries:focus {
	color: #FF00FF;
}

.museums:hover,
.museums:focus {
	color:#F9E853;

}

.festivals:hover,
.festivals:focus {
	color:#8CC63F;
}

.entertainment:hover,
.entertainment:focus {
	color:#FF8040;
}

.sites:hover,
.sites:focus {
	color:#1be2e2;
}



.leisure:hover,
.leisure:focus {
	color:#8dAbFF;
}

/*galleries*/
.cat-galleries {
    border-left: 8px solid #FF00FF;
    clear: both;
    padding-bottom: 1px;
}
/*museums*/
.cat-museums {
	border-left:8px solid #F9E853;
}

/*festivals*/
.cat-festivals {
	border-left:8px solid #8CC63F;
}

/*entertainment*/
.cat-entertainment {
	border-left:8px solid #FF8040;
}

/*sites*/
.cat-sites {
	border-left:8px solid #1be2e2;;
}

/*leisure*/
.cat-leisure {
	border-left:8px solid #8dAbFF;
}


.event {
	margin:0;
	padding:0;
}
/*.item {
	clear:both;
	margin-bottom:2px;
	margin-left: 2em;
	padding: 0 0 0 0.5em;
	position: relative;
	
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background-color:#f5f7f7;
}
*/
.item {
    background-color: #F5F7F7;
    border-radius: 20px 20px 20px 20px;
    clear: both;
    margin-bottom: 4px;
    margin-left: 2em;
    margin-top: 4px;
    padding: 0 0 0 0.5em;
    position: relative;
}






.item-title {
	margin-left:1em;
	padding:0;
}


.item-name {
	/*margin:2px 0;*/
	/*added this for padding*/
	/*padding-left: 0.5em;*/

	position: relative;
	/*background-color:#00F; ask Thomas how to get equal width*/
}

.item-name a {
	padding-left:0.5em;
	text-decoration:none;
	color: #000;
}
.item-name a:hover,	
.item-name a:focus {
	color:#FF00FF;
}


.item-name-event {
    float: left;
    /*margin-left: 1em;*/
    padding-left: 0;
    width: 40.9%;
}
/*links for museums = yellow */
.linkmuseums a:hover,
.linkmuseums a:focus {
	/*color:#F9E853; too light*/
	color:#EACF11;
}

/*links for festivals = green */
.linkfestivals a:hover,
.linkfestivals a:focus {
	color: #8CC63F;
}

/*links for entertainment = orange */
.linkentertainment a:hover,
.linkentertainment a:focus {
	color: #FF8040;
}

/*links for sites = turquise */
.linksites a:hover,
.linksites a:focus {
	color: #1BE2E2;
}

/*links for leisure = blue */
.linkleisure a:hover,
.linkleisure a:focus {
	color: #8DABFF;
}
.events {
	border-top:2px solid #FFFFFF;
}
.category ul {
	list-style-type: none;
	/*these 2 lines to get rid of spaces on the side*/
	/*margin: 0;*/
	padding: 0;
	
}

.category ul li {
	margin:0;
	padding: 0;
}

.location-time-bar {
	/*position: absolute;*/
}

.time-bar-wrapper {
    /*background-color: rgba(0, 0, 0, 0.5);*/
    margin-left: 36%;
    min-height: 15px;
    position: absolute;
    width: 35%;
	top: 0;
	left: 0;
}

.time-bar {
	margin:0;
	padding:0 0 5px;
	position: absolute;
	/*background-color:#F30;*/
	background-color:#f7931e;
	font-size:75%;
	line-height: 2.5em;
 
}
.time-bar-times {
	margin:0;
	padding:0;
	background-color: #f5f7f7;
	min-width: 6em;
}

.time-bar-end {
	float: right;
}
/*rate ---------------------------------------*/
.rater {
	display: inline-block;
	list-style-type:none;
	margin:0;
	padding:0;
	
	/*erika added*/
	
	margin-left: 3%;
	
}
.rater li {
	display: inline;
}

.rater a  {
	text-decoration:none;
}


.rater-level a {
	color:#Fc6;
	
}
.is-rated a{
	color:#F93;	
}


.pay {
    color: #8CC63F;
    margin-left: 33%;
}

/*style for detail info of a location*/
.nationalgallery {
	background-color:  #F5F7F7;
	border-top: 1px solid #ffffff;
	padding-left: 1em;
	border-left:8px solid #FF00FF;
	padding-bottom:1em;
}